body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*header*/
.header-container{ 
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header {
    color: white;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

/*section one*/
.section-one {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 16px;
    color: white;
}

.text-block-sec-one {
    width: 50%;
}

img {
    width: 50%;
    max-width: 300px;
    max-height: auto;
}

/*backgroung color of header and section one*/
.section-one,
.header-container{
    background-color: rgb(47, 47, 105);
}

/*section two*/
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.spot-containers {
    display: flex;
    justify-content: space-around;
}

.spot img{
    border-radius: 5px;
}

.spot {
    text-align: center;
}

/*section three*/
.section-three {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(231, 238, 241);
}

/*section four*/
.section-four {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: 50px 50px 30px 30px;
    padding: 8px;
    background-color: rgb(137, 182, 255);
    border-radius: 15px;
}


button {
    height: fit-content;
}
