body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*section one*/
.section-one {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.text-block-sec-one {
    width: 50%;
}

img {
    width: 50%;
    max-width: 300px;
    max-height: auto;
}

/*section two*/
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.content-containers {
    display: flex;
    justify-content: space-around;
}
