body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-family:Arial, Helvetica, sans-serif;
}

/*header*/
.header-container{ 
    display: flex;
    align-self: safe;
}

.header {
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/*section one*/
.section-one {
    display: flex;
    gap: 16px;
}

.text-block-sec-one {
    width: 50%;
}

img {
    width: 50%;
    max-width: 300px;
    max-height: auto;
}

.section-one button{
    border: none;
}

/*backgroung color of header and section one*/
.section-one,
.header-container {
    background-color: #1F2937;
    justify-content: space-between;
    padding: 32px 10% 32px 10%;
    color: #F9FAF8;
}

 /*general button styling*/
button {
    height: fit-content;
    background-color: rgb(188, 207, 243);
    border-radius: 4px;
    font-weight: bold;
    color: rgb(36, 36, 69);
    padding: 4px 8px 4px 8px;
}

button:hover {
    opacity: 50%;
}

/*section two*/
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.spot-containers {
    display: flex;
    justify-content: space-around;
}

.spot img{
    border-radius: 5px;
    border: 1px solid #1F2937;
}

.spot img:hover {
    opacity: 50%;
}

.spot {
    text-align: center;
}

/*section three*/
.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 40px 16px 40px 16px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: fit-content;
    color: #1F2937;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    
}

.quoter {
    align-self: flex-end;
    font-size: small;
    font-weight: bold;
}

/*section four*/
.section-four {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: fit-content;
    margin: 50px 50px 30px 30px;
    padding: 16px 32px 16px 30px;
    background-color: rgb(188, 207, 243);
    border-radius: 15px;
}

.join-group-text-container h3{
    padding: 0px;
    margin: 0px;
}

.section-four button {
    border: 2px solid #1F2937;
}


/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px 10% 32px 10%;
    color: white;
}
